<!DOCTYPE html>
<html lang="tok">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="toki pona, esoteric writing system, ascii">
    <meta name="description" content="ilo ni li ken ante e sitelen Lasina tawa sE$ :ak:. kin la ona li ken ante e sE$ :ak: tawa sitelen Lasina.">
    <meta name="language" content="tok">
    <meta property="og:type" content="website">
    <meta property="og:title" content="sE$ :ak">
    <meta property="og:description" content="suno pi toki pona li lon! ilo ni li ken ante e sitelen Lasina tawa sE$ :ak:. kin la ona li ken ante e sE$ :ak: tawa sitelen Lasina.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <title>sE$ :ak</title>
</head>
<body>
<div id="ilo">
    <h1 style="color: chartreuse;">NOTE: a complete rework of this page is to be expected. You will experience bugs.</h1>
    Features to be added: fix colons' bugginess and fit them within the definition.
    <h2>sitelen Lasina -> sE$ :ak</h2>
    <label for="lasina">o pana e sitelen Lasina</label>
    <textarea id="lasina" rows="5" cols="33" v-model="lasinaInput" @input="AnteELasinaTawaAki()">
    </textarea>
    <br><span>{{ akiPanaPini }}</span>
    <div style="min-height: 64px;"></div>
    <h2>sE$ :ak -> sitelen Lasina</h2>
    <label for="aki">o pana e sitelen Aki</label>
    <textarea id="aki" rows="5" cols="33" v-model="akiInput" @input="AnteEAkiTawaLasina()">
    </textarea>
    <br><span>{{ lasinaPanaPini }}</span>
    <br>
    <a id="lukin-e-sptp" href="https://www.youtube.com/watch?v=ECH9E7PM0eQ">o lukin e suno pi toki pona lon suno mute ale mute tu tu a!</a>
    <h3 id="nimiJanPali">pali tan kiwen soko loje</h3>
</div>
</body>
<style>
#lukin-e-sptp{
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
    bottom: 10%;
}
#nimiJanPali{
    position: absolute;
    bottom: 0%;
    right: 5%;
}
</style>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const lonEIlo = Vue.createApp;
    const sitelenSuli = ['M','N','P','T','K','S','W','L','J','A','E','I','O','U'];
    const klpPiKalamaKiwen=['m','n','p','t','k','s','w','l','j']
    const klpPiKalamaKon=['a','e','i','o','u']
    const klpPiKalamaPini=['n']
    const sitelenKipisi=[' ','\n','.','"'];
    const sitelenLiAnteAlaTawaAki=[' ','\n','']
    const sitelenLiAnteAlaTawaLasina=[' ','\n','']
    const locale = undefined;
    const AnteAkiTawaLasina={
        '"': "jen",
        "!": "in",
        "@": "mon",
        "#": "nan",
        $: "len",
        "%": "pin",
        "&": "en",
        "'": "lan",
        '(': 'nin',
        ')': 'nun',
        "*": "no",
        '+': 'pun',
        ",": "ju",
        "-": "nen",
        ".": ".",
        "/": "nu",
        0: 'u',
        1: 'wan',
        2: 'tu',
        3: 'mun',
        4: 'sun',
        5: 'lu',
        6: 'pan',
        7: 'on',
        8: 'min',
        9: 'men',
        ":": '"',
        ";": "lun",
        "<": "jun",
        "=": "pon",
        ">": "jon",
        "?": "me",
        "@": "mon",
        A: 'an',
        B: 'pe',
        C: 'sin',
        D: 'ton',
        E: 'te',
        F: 'pen',
        G: 'ke',
        H: 'ko',
        I: 'lin',
        J: 'jo',
        K: 'ka',
        L: 'la',
        M: 'ma',
        N: 'ni',
        O: 'mo',
        P: 'pi',
        Q: 'kin',
        R: 'lon',
        S: 'so',
        T: 'ta',
        U: 'un',
        V: 'we',
        W: 'wi',
        X: 'tan',
        Y: 'ja',
        Z: 'se',
        "[": 'sen',
        "\\": 'son',
        "]": 'san',
        '^': 'ne',
        "_": 'non',
        '`': 'man',
        a: 'a',
        b: 'pa',
        c: 'sa',
        d: 'tun',
        e: 'e',
        f: 'pu',
        g: 'ken',
        h: 'kon',
        i: 'i',
        j: 'jan',
        k: 'ki',
        l: 'li',
        m: 'mi',
        n: 'na',
        o: 'o',
        p: 'po',
        q: 'ku',
        r: 'le',
        s: 'si',
        t: 'to',
        u: 'mu',
        v: 'wen',
        w: 'wa',
        x: 'ten',
        y: 'je',
        z: 'su',
        "{": 'kun',
        "|": 'win',
        "}": 'kan',
        "~": 'lo',
        "Ë": "tin",
        "Ï": "jin",
        "Ö": "won",
        "Ü": "wun",
        "ë": "ti",
        "ï": "ji",
        "ö": "wo",
        "ü": "wu",
        "…": "n"
    }
    const AnteMaENimiENanpa=function(panaOpen){
        let panaPini = {};
        for(nimi in panaOpen){
            panaPini[panaOpen[nimi]]=nimi;
        }
        return panaPini;
    }
    const AnteLasinaTawaAki=AnteMaENimiENanpa(AnteAkiTawaLasina);
    const PanaESitelenIke=function(stl){
        return `'${stl}' (U+${stl.charCodeAt(0).toString(16).padStart(4,'0').toUpperCase()})`
    }
    const panaESitelenMuteIke=function(stl){
        if(stl.length===1) return PanaESitelenIke(stl);
        return `'${stl}' (length: ${stl?.length})`
    }
    const kipisiEKulupuKalama=function(sitelenLasina){
        let klpKipisi=[];
        let parsingCharList=[];
        let state="onset";
        let miLonOpenNimi = true;
        let miLonNimiSuli = false;
        let i = 0;
        /*
        onset: finding onset
        vowel: finding vowel
        coda: finding 'n'
        */
        const panaEKipisi=()=>{
                klpKipisi.push(parsingCharList.join(''));
                parsingCharList=[];
        };
        for(i in sitelenLasina){
            //console.log(`c: ${sitelenLasina[i]}, state: ${state}, miLonOpenNimi: ${miLonOpenNimi}, miLonNimiSuli: ${miLonNimiSuli}`);
            if(miLonOpenNimi){
                if(sitelenSuli.includes(sitelenLasina[i])){
                    klpKipisi.push('"');
                    miLonNimiSuli = true;
                }
                miLonOpenNimi = false;
            }
            if(sitelenKipisi.includes(sitelenLasina[i])){
                if(parsingCharList.length!==0) panaEKipisi();
                if(miLonNimiSuli) {
                    klpKipisi.push('"');
                    panaEKipisi();
                    miLonNimiSuli = false;
                }
                klpKipisi.push(sitelenLasina[i]);
                //panaEKipisi();
                state="onset"
                miLonOpenNimi = true;
                continue;
            }
            if(state==="onset"){
                if(klpPiKalamaKiwen.includes(sitelenLasina[i].toLowerCase())){
                    if(parsingCharList.length!==0){
                        panaEKipisi();
                    }
                    parsingCharList.push(sitelenLasina[i].toLowerCase());
                    state="vowel";
                }
                else if(klpPiKalamaKon.includes(sitelenLasina[i].toLowerCase())){
                    //console.log("previous: " + parsingCharList[parsingCharList.length-1]);
                    if(parsingCharList[parsingCharList.length-1]?.toLowerCase()==='n'){ //"pon{a}"
                        parsingCharList.pop();
                        panaEKipisi();
                        parsingCharList.push('n');
                    }
                    parsingCharList.push(sitelenLasina[i].toLowerCase());
                    state="coda";
                }
                else console.error(`ijo ike li lon onset: ${PanaESitelenIke(sitelenLasina[i])}`);
            }
            else if(state=="vowel"){
                if(klpPiKalamaKon.includes(sitelenLasina[i].toLowerCase())){
                    parsingCharList.push(sitelenLasina[i].toLowerCase());
                    state="coda";
                }
                else console.error(`ijo ike li lon vowel: ${PanaESitelenIke(sitelenLasina[i])}`)
            }
            else if(state=="coda"){
                if(sitelenLasina[i]==='n'){
                    parsingCharList.push(sitelenLasina[i].toLowerCase());
                    state="onset";
                }
                else if(klpPiKalamaKiwen.includes(sitelenLasina[i].toLowerCase())){
                    panaEKipisi();
                    parsingCharList.push(sitelenLasina[i].toLowerCase());
                    state="vowel";
                }
                else if(klpPiKalamaKon.includes(sitelenLasina[i].toLowerCase())) {
                    console.warn(`kalama kon tu li lon ${i}`);
                    panaEKipisi();
                    parsingCharList.push(sitelenLasina[i].toLowerCase());
                }
                else console.error(`ijo ike li lon coda: ${PanaESitelenIke(sitelenLasina[i])}`)
            }
        }panaEKipisi();
        return klpKipisi;
    };
    const lasinaTawaAki=function(sitelenLasina){
        const kipisi = kipisiEKulupuKalama(sitelenLasina);
        //console.log(kipisi);
        let panaPini = [];
        for(i in kipisi){
            if(sitelenLiAnteAlaTawaAki.includes(kipisi[i])){
                panaPini.push(kipisi[i]);
                continue;
            }
            else if(!(kipisi[i] in AnteLasinaTawaAki)) {
                console.error(`kipisi ike: ${panaESitelenMuteIke(kipisi[i])}`);
                continue;
            }
            panaPini.push(AnteLasinaTawaAki[kipisi[i]]);
        }
        return panaPini.join('');
    };
    const suliESitelenNanpaWan = (sitelen)=>{
            if([undefined,null].includes(sitelen)) return sitelen;
            let tmpArr = sitelen.split('');
            tmpArr[0] = tmpArr[0]?.toUpperCase();
            return tmpArr.join('');
        }
    const akiTawaLasina=function(sitelenAki){
        panaPini = [];
        for(i in sitelenAki){
            if(sitelenLiAnteAlaTawaLasina.includes(sitelenAki[i])){
                panaPini.push(sitelenAki[i]);
                continue;
            }
            if(!(sitelenAki[i] in AnteAkiTawaLasina)) {
                console.error(`sitelen ike: ${PanaESitelenIke(sitelenAki[i])}`);
                continue;
            }
            panaPini.push(AnteAkiTawaLasina[sitelenAki[i]]);
        }
        return panaPini.join('');
    };
    lonEIlo({
        data() {
            return {
            toki: 'ma o, toki a!',
            lasinaInput: 'mun Kekan San li toki e ni tawa ilo Muni. "o nanpa e kepeken pi nimi lon toki pona"',
            akiPanaPini: '',
            akiInput: '',
            lasinaPanaPini: '',
            }
            //sina ken ala toki e ijo la sina sona ala e ona.
            //sE$ pn l Yk Tw m. xp KM L m sE$ :ak:
        },
        created() {
            this.AnteELasinaTawaAki();
            this.AnteEAkiTawaLasina();
            console.log(`ilo li lon!`);
        },
        mounted() {
            console.log(`ilo li lon pona!`);
        },
        methods: {
            AnteELasinaTawaAki(){
                //console.log(this.lasinaInput)
                this.akiPanaPini=lasinaTawaAki(this.lasinaInput);
            },
            AnteEAkiTawaLasina(){
                //console.log(this.akiInput)
                this.lasinaPanaPini=akiTawaLasina(this.akiInput);
            }
        }
    }).mount('#ilo')
  </script>
  
</html>